footer{
    background-color: #353535;
    padding-bottom: 20px;
    padding-top: 10px;
    & h2{
        font-family: 'shrikhand', sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        color: white;
        padding-left: 25px;
        padding-top: 25px;
    }
    & ul{
        list-style: none;
        padding-left: 25px;
    }
    & li{
        padding-bottom: 10px;
    }
    & a{
        display: flex;
        text-decoration: none;
        color: white;
        & .fa-utensils{
            font-size: 0.8em;
            padding-top: 4px;
        }
        & .fa-hands-helping{
            font-size: 0.7em;
            padding-top: 4px;
            width: 10px;
        }
        & div{
            padding-left: 10px;
        }
    }
}