footer{
    background-color: #353535;
    padding-bottom: 20px;
    & h2{
        font-family: 'shrikhand', sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        color: white;
        padding-left: 25px;
        padding-top: 25px;
    }
    & ul{
        list-style: none;
        padding-left: 25px;
    }
    & li{
        padding-bottom: 10px;
    }
    & a{
        display: flex;
        text-decoration: none;
        color: white;
        & div{
            padding-left: 10px;
        }
    }
}