header{
    width:100%;
    text-align: center;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    & a{
        text-decoration: none;
        color: black;
        position: relative;
        right: 70px;
        bottom: 10px;
        & i{
            font-size: large;
        }
    }
    & img{
        width: 45%;
    }
}