@font-face {
    font-family: 'roboto';
    src: url('public/sass/base/Roboto/Roboto-Black.ttf'),
    url('public/sass/base/Roboto/Roboto-Bold.ttf'),
    url('public/sass/base/Roboto/Roboto-Light.ttf'),
    url('public/sass/base/Roboto/Roboto-Medium.ttf'),
    url('public/sass/base/Roboto/Roboto-Regular.ttf');
  }

body{
    font-family: 'Roboto', sans-serif;
}