@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

.menu__titreresto {
  font-family: "Shrikhand", sans serif;
  font-size: 1.7em;
  font-weight: 300;
}

body {
  margin: 0 auto;
  background-color: #f6f6f6;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
}
header img {
  width: 45%;
}

footer {
  background-color: #353535;
  padding-bottom: 20px;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  padding-left: 25px;
  padding-top: 25px;
}
footer ul {
  list-style: none;
  padding-left: 25px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: flex;
  text-decoration: none;
  color: white;
}
footer a div {
  padding-left: 10px;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.description__lieu {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #4b4b4b;
  font-weight: 500;
}
.description__lieu i {
  margin-right: 15px;
}
.description__explain {
  background-color: #f6f6f6;
  align-items: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.description__explain h1 {
  width: 70%;
  text-align: center;
  margin-bottom: 15px;
}
.description__explain div {
  font-size: large;
  font-weight: 300;
  color: #4d4d4d;
  width: 85%;
  text-align: center;
}
.description__explain a {
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  width: 50%;
  text-align: center;
  border-radius: 50px;
  padding: 15px;
  margin: 25px 40px 50px 40px;
}

.Fonctionnement {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: white;
}
.Fonctionnement h1 {
  margin-bottom: 30px;
}
.Fonctionnement ol {
  counter-reset: chiffre;
  /*initialisation du compeur*/
  padding-left: 0px;
}
.Fonctionnement li {
  list-style-type: none;
  counter-increment: chiffre;
  /*incrémentation du compteur*/
  margin: 0px 30px 25px 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  display: flex;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px 5px #ededed;
}
.Fonctionnement li:before {
  content: counter(chiffre);
  /*affichage du compteur*/
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  padding: 4px 8px 4px 8px;
  font-size: small;
  position: relative;
  right: 10px;
}
.Fonctionnement li i {
  padding-top: 2px;
  font-size: 1.2rem;
  margin-left: 20px;
  color: #7e7e7e;
  width: 23px;
}
.Fonctionnement li .liste--couleur {
  color: #9356DC;
}
.Fonctionnement li div {
  padding-top: 5px;
  font-weight: bold;
  padding-left: 30px;
}

.restaurant {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
.restaurant h1 {
  margin-left: 20px;
}
.restaurant a {
  text-decoration: none;
}
.restaurant a figure {
  width: 90%;
  height: 250px;
  margin: 16px 0px 16px 15px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}
.restaurant a figure img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: bottom;
}
.restaurant a figure .restaurant__image--position {
  object-position: 0px -150px;
}
.restaurant a figure figcaption {
  height: 45px;
  padding: 10px 30px 20px 20px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.restaurant a figure figcaption .restaurant__nom {
  font-weight: bold;
  font-size: 1.1rem;
}
.restaurant a figure figcaption .restaurant__lieu {
  padding-top: 5px;
  font-weight: 300;
}
.restaurant a figure figcaption i {
  font-size: x-large;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
