@charset "UTF-8";
@keyframes app-progress {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes load {
  0% {
    z-index: 2;
  }
  99% {
    z-index: 2;
  }
  100% {
    z-index: -1;
  }
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes couleur-coeur {
  100% {
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.menu__titreresto {
  font-family: "Shrikhand", sans serif;
  font-size: 1.7em;
  font-weight: 300;
}

body {
  margin: 0 auto;
  background-color: #f6f6f6;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
}
header img {
  width: 45%;
}

footer {
  background-color: #353535;
  padding-bottom: 20px;
}
footer h2 {
  font-family: "shrikhand", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: white;
  padding-left: 25px;
  padding-top: 25px;
}
footer ul {
  list-style: none;
  padding-left: 25px;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: flex;
  text-decoration: none;
  color: white;
}
footer a .fa-utensils {
  font-size: 0.8em;
  padding-top: 4px;
}
footer a .fa-hands-helping {
  font-size: 0.7em;
  padding-top: 4px;
  width: 10px;
}
footer a div {
  padding-left: 10px;
}

.spinner {
  position: absolute;
  padding-top: 30%;
  width: 100%;
  height: 2170px;
  z-index: -1;
  background-color: white;
  text-align: center;
  font-size: xx-large;
  color: #9356DC;
  animation: load 3s;
}
@media screen and (min-width: 980px) {
  .spinner {
    height: 1270px;
    font-size: 50px;
    padding-top: 20%;
  }
}
.spinner > i {
  animation: anim 3s ease-in-out;
}

.description {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.description__lieu {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.description__lieu i {
  margin-right: 15px;
  color: #4b4b4b;
}
.description__lieu input {
  background-color: #eaeaea;
  border: none;
}
.description__lieu input::placeholder {
  font-size: 1.2em;
  font-weight: 500;
  font-family: sans-serif;
  color: black;
}
.description__explain {
  background-color: #f6f6f6;
  align-items: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.description__explain h1 {
  width: 70%;
  text-align: center;
  margin-bottom: 15px;
}
.description__explain div {
  font-size: large;
  font-weight: 300;
  color: #4d4d4d;
  width: 85%;
  text-align: center;
}
.description__explain a {
  text-decoration: none;
  color: white;
  width: 50%;
  text-align: center;
  border-radius: 50px;
  padding: 15px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0px 6px 10px 2px #d1cdcd;
  position: relative;
  z-index: 1;
  margin: 25px 40px 50px 40px;
}
@media screen and (min-width: 980px) {
  .description__explain a {
    width: 30%;
  }
}
.description__explain a:hover::after {
  opacity: 1;
}
.description__explain a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom right, #fface8, #ae80e5);
  box-shadow: 0px 6px 10px 2px #a09898;
  border-radius: 50px;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

.Fonctionnement {
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: white;
}
.Fonctionnement h1 {
  margin-bottom: 30px;
}
@media screen and (min-width: 980px) {
  .Fonctionnement h1 {
    text-align: center;
    margin-bottom: 50px;
  }
}
.Fonctionnement ol {
  counter-reset: chiffre;
  /*initialisation du compeur*/
  padding-left: 0px;
}
@media screen and (min-width: 980px) {
  .Fonctionnement ol {
    display: flex;
    justify-content: space-around;
  }
}
.Fonctionnement li {
  list-style-type: none;
  counter-increment: chiffre;
  /*incrémentation du compteur*/
  margin: 0px 30px 25px 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 25px;
  display: flex;
  background-color: #f6f6f6;
  box-shadow: 0px 0px 10px 5px #ededed;
}
@media screen and (min-width: 980px) {
  .Fonctionnement li {
    width: 30%;
  }
}
.Fonctionnement li:before {
  content: counter(chiffre);
  /*affichage du compteur*/
  background-color: #9356DC;
  border-radius: 50px;
  color: white;
  padding: 4px 8px 4px 8px;
  font-size: small;
  position: relative;
  right: 10px;
}
.Fonctionnement li i {
  padding-top: 2px;
  font-size: 1.2rem;
  margin-left: 20px;
  color: #7e7e7e;
  width: 23px;
}
.Fonctionnement li .liste--couleur {
  color: #9356DC;
}
.Fonctionnement li div {
  padding-top: 5px;
  font-weight: bold;
  padding-left: 30px;
}

.restaurant {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 980px) {
  .restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.restaurant h1 {
  margin-left: 20px;
}
@media screen and (min-width: 980px) {
  .restaurant h1 {
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }
}
.restaurant .restaurant__lien {
  text-decoration: none;
}
@media screen and (min-width: 980px) {
  .restaurant .restaurant__lien {
    width: 45%;
  }
}
.restaurant .restaurant__lien figure {
  width: 90%;
  height: 250px;
  margin: 16px 0px 16px 15px;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  position: relative;
}
.restaurant .restaurant__lien figure img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: bottom;
}
.restaurant .restaurant__lien figure .restaurant__image--position {
  object-position: 0px -150px;
}
.restaurant .restaurant__lien figure figcaption {
  height: 45px;
  padding: 10px 30px 20px 20px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}
.restaurant .restaurant__lien figure figcaption .restaurant__nom {
  font-weight: bold;
  font-size: 1.1rem;
}
.restaurant .restaurant__lien figure figcaption .restaurant__lieu {
  padding-top: 5px;
  font-weight: 300;
}
.restaurant .restaurant__lien figure figcaption i {
  padding-top: 10px;
  font-size: x-large;
  transition: 1s;
}
.restaurant .restaurant__lien figure figcaption i:active {
  font-weight: 520;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 980px) {
  .restaurant .restaurant__lien figure figcaption i:hover {
    font-weight: 520;
    background: -webkit-linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.restaurant__nouveau {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.9em;
  font-weight: 500;
  padding: 7px 10px 7px 10px;
  border-radius: 2px;
}

/*# sourceMappingURL=style.css.map */
