.restaurant{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    background-color: $color-fond;
    @media screen and (min-width: 980px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    & h1{
        margin-left: 20px;
        @media screen and (min-width: 980px){
            text-align: center;
            margin-bottom: 50px;
            width: 100%;
        }
    }
    & .restaurant__lien{
        text-decoration: none;
        @media screen and (min-width: 980px){
            width: 45%;
        }
        & figure{
            width: 90%;
            height: 250px;
            margin: 16px 0px 16px 15px;
            border-radius: 15px;
            background-color: white;
            overflow: hidden;
            position: relative;
            & img{
                width: 100%;
                height: 175px;
                object-fit: cover;
                object-position: bottom;
            }
            & .restaurant__image--position{
                object-position: 0px -150px;
            }
            & figcaption{
                height: 45px;
                padding: 10px 30px 20px 20px;
                color: black;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                align-content: space-between;
                & .restaurant__nom{
                    font-weight: bold;
                    font-size: 1.1rem;
                }
                & .restaurant__lieu{
                    padding-top: 5px;
                    font-weight: 300;
                }
                & i{
                    padding-top: 10px;
                    @include coeur;
                }
            }
        }
    }
    &__nouveau{
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 1;
        background-color: $color-tertiary;
        color: darken($color-tertiary, 40%);
        font-size: 0.9em;
        font-weight: 500;
        padding: 7px 10px 7px 10px;
        border-radius: 2px;
    }
}