@keyframes app-progress{
    0%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}

@keyframes load{
    0%{
        z-index: 2;
    }
    99%{
        z-index: 2;
    }
    100%{
        z-index: -1;
    }
}

@keyframes anim{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(720deg);
    }
}